<div class="footer-col-wrapper">
  <!-- <div class="footer-col"> -->
    <div class="copyright">
      {% assign year_from = site.posts[-1].date | date: '%Y' %}
      {% if site.author %}
      <p>
        Copyright © <span id="copyright-year">{{ year_from }}</span> {{ site.author }}. All rights reserved.
      </p>
      <script>
        // Update the year dynamically with JavaScript
        document.getElementById('copyright-year').innerHTML = 
          '{{ year_from }}' === new Date().getFullYear().toString() 
            ? new Date().getFullYear() 
            : '{{ year_from }}' + '&nbsp;-&nbsp;' + new Date().getFullYear();
      </script>
      {% endif %}
    </div>
  <!-- </div> -->

  <!-- <div class="footer-col">
    <p>{{ site.description | escape }}</p>
  </div> -->
</div>
